@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
* { margin: 0; padding: 0; box-sizing: border-box; font-family: "Poppins", sans-serif; }
.videoDiv { width: 100%; }
#myVideo { position: fixed; right: 0; bottom: 0; width: 100%; min-height: 100%; margin-right: 12.5%; }
::selection { color: #fff; background: #53f0e3; }
.viewport-header { position: relative; height: 100vh; text-align: center; display: flex; align-items: center; justify-content: right; }
.wrapper { position: absolute; right: 0px; top: 0px; width: 25%; min-width: 315px; padding: 40px 30px 50px 30px; background: #fff; border-radius: 5px; text-align: center; }
.wrapper-bg { position:absolute; right: 0px; height: 100%; width: 25%; min-width: 315px; padding: 40px 30px 50px 30px; background: #fff; border-radius: 5px; text-align: center; }
.wrapper h1 { font-size: 1.5rem; }
.wrapper h1 span { font-size: 2.2rem; }
.wrapper form { margin: 40px 0; }
form .field { width: 100%; margin-bottom: 10px; }
form .field.shake { animation: shake 0.3s ease-in-out; }
@keyframes shake { 0%, 100% { margin-left: 0px; } 20%, 80% { margin-left: -12px; } 40%, 60% { margin-left: 12px; }
}
form .field .input-area { height: 50px; width: 100%; position: relative; }
form input { width: 100%; height: 100%; outline: none; padding: 0 45px; font-size: 18px; background: none; caret-color: #5372F0; border-radius: 5px; border: 1px solid #bfbfbf; border-bottom-width: 2px; transition: all 0.2s ease; }
form .field input:focus,
form .field.valid input { border-color: #5372F0; }
form .field.shake input,
form .field.error input { border-color: #dc3545; }
.field .input-area i { position: absolute; top: 50%; font-size: 18px; pointer-events: none; transform: translateY(-50%); }
.input-area .icon { left: 15px; color: #bfbfbf; transition: color 0.2s ease; }
.input-area .error-icon { right: 15px; color: #dc3545; }
form input:focus~.icon,
form .field.valid .icon { color: #5372F0; }
form .field.shake input:focus~.icon,
form .field.error input:focus~.icon { color: #bfbfbf; }
form input::placeholder { color: #bfbfbf; font-size: 17px; }
form .field .error-txt { color: #dc3545; text-align: left; margin-top: 5px; }
form .field .error { display: none; }
form .field.shake .error,
form .field.error .error { display: block; }
form .pass-txt { text-align: left; margin-top: -10px; }
.wrapper a { color: #5372F0; text-decoration: none; }
.wrapper a:hover { text-decoration: underline; }
form input[type="submit"] { height: 50px; margin-top: 10px; color: #fff; padding: 0; border: none; background: #2e462f; cursor: pointer; border-bottom: 2px solid rgba(0, 0, 0, 0.1); transition: all 0.3s ease; }
form input[type="submit"]:hover { background: #2e462f; }
.logo img { width: 70%; }


/**/
.wrapper-join-bg { height: 100vh; align-items: center; display: flex; }
.wrapper-join { width: 50%; margin: 0 auto; border-top: 10px solid #2a3f25; }
.wrapper-join h1 { margin-top: 10px; font-size: 1.5rem; text-align: center; }
.wrapper-join form .field { position: relative; }
.wrapper-join form .field .input-area { width: 60%; margin: 0 auto; height: auto; }
.wrapper-join form .field .input-area input { padding: 10px; }
.wrapper-join form .field .comment { position: absolute; right: 0px; bottom: 0px; line-height: 50px; color:red; font-size: 0.9rem; display: none; }
.wrapper-join form .field .input-area select { padding: 10px; }
form select { width: 100%; height: 100%; outline: none; padding: 0 45px; font-size: 18px; background: none; caret-color: #5372F0; border-radius: 5px; border: 1px solid #bfbfbf; border-bottom-width: 2px; transition: all 0.2s ease; }
.btn { height: 50px; margin-top: 10px; color: #fff; padding: 0; border: none; background: #2e462f; cursor: pointer; border-bottom: 2px solid rgba(0, 0, 0, 0.1); transition: all 0.3s ease; outline: none; caret-color: #5372f0; border-radius: 5px; text-align: center; }
.btn:hover { background: #2e462f; }
.btn-2 .btn { display: inline-block; width: 45%; font-size: 1.4rem; }
.btn-2 .btn-cancel { float: left; background-color: #d8d8d8; color: #fff; line-height: 50px; }
.btn-2 .btn-submit { float: right; color: #fff; }


/*login*/

a{
    text-decoration-line : none;
    text-decoration : none;
    color: black;
}

.login-wrapper {
    width: 100%;
    height: 100%;
    margin-top: 8%;
    box-sizing: border-box;
}

.login-wrapper > h2 {
    font-size: 24px;
    color: #6a24fe;

    height: auto;
}
.login-wrapper2 {
    width: 400px;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 10px;
    
}
.login-wrapper-padding {
    padding: 20px;
}


.findview {
    text-align: center;
    font-size: 13px;
    margin-top: 5%;
}
@media (max-width: 800px) {
    .login-wrapper2 {
        width: 300px;
        margin: 0 auto;
        background-color: #ffffff;
        border-radius: 10px;
    }
    .login-wrapper {
        margin-top: 25%;
    }

    .findview{
        text-align: center;
        font-size: 10px;
        margin-top: 5%;
        text-decoration-line : none;
        text-decoration : none;
    }
}

.register-wrapper {
    width: 100%;
    height: 100%;
    margin-top: 3%;
    box-sizing: border-box;
}

.register-wrapper2 {
    width: 500px;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 10px;
    border:solid 2px #D3D3D3;
}
.register-wrapper-padding {
    padding: 20px;
}

@media (max-width: 800px) {
    .register-wrapper2 {
        width: 400px;
        margin: 0 auto;
        background-color: #ffffff;
        border-radius: 10px;
    }
    .register-wrapper {
        margin-top: 10%;
    }
}

.id-text {
    margin-bottom: 3%;
    color: grey;
}

.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 150%;
    width: 100%;
    z-index: -1;
}

.bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.error-tag {
    font-size: 12px;
    color: red;
}

.pwerror-tag {
    font-size: 12px;
    color: red;
}

.cpwerror-tag {
    font-size: 12px;
    color: red;
}
.input-area {
    margin-top: 3%;
    margin-bottom: 8%;
}

.major_chk {
    width: 100%;
    padding: 0.8em 0.5em;
    border: solid 1px #d3d3d3;
    border-radius: 9px;
    font-family: inherit;
    background-color: #ffffff;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.major_chk:focus {
    outline: 2px solid #04653d;
    border-radius: 9px;
    background-color: #ffffff;
}

.job_chk {
    width: 100%;
    padding: 0.8em 0.5em;
    border: solid 1px #d3d3d3;
    border-radius: 9px;
    font-family: inherit;
    background-color: #ffffff;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.job_chk:focus {
    outline: 2px solid #04653d;
    border-radius: 9px;
    background-color: #ffffff;
}

.input-style {
    width: 100%;
    height: 48px;
    padding: 0 10px;
    box-sizing: border-box;
    margin-bottom: 8px;
    border: solid 1px #d3d3d3;
    border-radius: 9px;
    background-color: #ffffff;
}
.input-style::placeholder {
    color: #d2d2d2;
}

.input-style:focus {
    outline: 2px solid #04653d;
}

.email_chk {
    margin-bottom: 16%;
}

.pass_chk {
    margin-bottom: 6%;
}

.cpass_chk {
    margin-bottom: 16%;
}

#form1 > input {
    width: 100%;
    height: 48px;
    padding: 0 10px;
    box-sizing: border-box;
    margin-bottom: 8px;
    border: solid 1px #d3d3d3;
    border-radius: 9px;
    background-color: #ffffff;
    font-size: 14px;
}
#form1 > input::placeholder {
    color: #d2d2d2;
}

#form1 > input:focus {
    outline: 2px solid #04653d;
}

#form1 > input[type='submit'] {
    color: #fff;
    font-size: 16px;
    background-color: #04653d;
    margin-top: 10%;
    border-radius: 12px;
}


#form1 > input[type='checkbox'] {
    display: none;
}
#form1 > label {
    color: #999999;
    font-size:13px;
}
#form1 input[type='checkbox'] + label {
    cursor: pointer;
    appearance: none;
    width: 5%;
    padding-left: 26px;
    
    background-repeat: no-repeat;
    background-size: contain;
}
#form1 input[type='checkbox']:checked + label {
    background-repeat: no-repeat;
    background-size: contain;
}

#register-form > input[type='submit'] {
    color: #fff;
    font-size: 16px;
    background-color: #04653d;
    margin-top: 10%;
    border-radius: 12px;
}
