{% extends 'layout_login.html' %}

{% block stylesheet %}
{% endblock %}

{% block script %}
{% endblock %}

{% block content %}
<div class="contentDiv">
	<ul class="boardStyle01">
		<li class="head">
			<span class="w20">idx</span>
			<span class="w20">이메일</span>
			<span class="w20">전공</span>
			<span class="w20">이름</span>
			<span class="w20">권한(1:학생,2:조교,3:교수)</span>
			<span class="w20">로그인 실패</span>
			<span class="w20">관리자 승인</span>
		</li>
		{% for i in user_list %}
		<li>
			<span class="w20">{{i.user_no}}</span>
			<span class="w20">{{i.email}}</span>
			<span class="w20">{{i.major}}</span>
			<span class="w20">{{i.name}}</span>
			<span class="w20">{{i.permission}}</span>
			<span class="w20">{{i.login_fail}}</span>
			<span class="w20">{{i.access_check}}</span>
		</li>
		{% endfor %}
{% endblock %}
