{% extends 'layout_login.html' %}

{% block stylesheet %}
{% endblock %}

{% block script %}
<script type="text/javascript">
	//승인
	$(document).on("click", ".accessBtn", function(){

		var param = {
			"email": $(this).attr('value')
		};

		$.ajax({
			url: "/admin",
			type: "POST",
			headers: {'Content-Type': 'application/json'},
			data: JSON.stringify(param),
			success: function(d){
				location.reload(true);
			}
		});
	});
	//삭제
	$(document).on("click", ".delBtn", function(){

		var param = {
			"email": $(this).attr('value')
		};

		$.ajax({
			url: "/admin2",
			type: "POST",
			headers: {'Content-Type': 'application/json'},
			data: JSON.stringify(param),
			success: function(d){
				location.reload(true);
			}
		});
	});
	//초기화
	$(document).on("click", ".initBtn", function(){

	var param = {
		"email": $(this).attr('value')
	};

	$.ajax({
		url: "/admin2",
		type: "PATCH",
		headers: {'Content-Type': 'application/json'},
		data: JSON.stringify(param),
		success: function(d){
			location.reload(true);
		}
	});
});
</script>
{% endblock %}

{% block content %}
<div class="contentDiv">
	<ul class="boardStyle01">
		<li class="head">
			<span class="w21">idx</span>
			<span class="w21">이메일</span>
			<span class="w21">전공</span>
			<span class="w21">이름</span>
			<span class="w21">권한(1:학생,2:조교,3:교수)</span>
			<span class="w21">로그인 실패</span>
			<span class="w21">관리자 승인</span>
		</li>
		{% for i in user_list %}
		<li>
			<span class="w21">{{i.user_no}}</span>
			<span class="w21" name="email">{{i.email}}</span>
			<span class="w21">{{i.major}}</span>
			<span class="w21">{{i.name}}</span>
			<span class="w21">{{i.permission}}</span>
			<span class="w21">{{i.login_fail}}</span>
			<span class="w21">{{i.access_check}}</span>
			<span class="w21"><button class="btn btn-submit accessBtn" value="{{i.email}}">승인</button></span>
			<span class="w21"><button class="btn btn-submit delBtn" value="{{i.email}}">삭제</button></span>
			<span class="w21"><button class="btn btn-submit initBtn" value="{{i.email}}">로그인횟수초기화</button></span>
		</li>
		{% endfor %}
{% endblock %}
