<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>타이틀</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/auth_main.css') }}">
{% block stylesheet %}{% endblock %}
		<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/auth_main.js') }}"></script>
{% block script %}{% endblock %}
	</head>
	
	<body>
		<div class="">
			<div class="loader-bg hidden">
				<div class="loader-ctx">
					<div class="loader"></div>
					<div class="loader-msg"></div>
				</div>
			</div>
			<div class="menuBarDiv">
				<div class="logoDiv">
					<img src="{{ url_for('static', filename='images/ewha_logo.png') }}" />
				</div>
				<ul class="menuBarList">
					<li class="link" link="{{ url_for('lecture') }}">{% if user_info['user_perm']==0 %}강의보기{% else %}Home{% endif %}</li>
					{% if user_info['user_perm']==0 %}
					<li class="link" link="{{ url_for('admin2') }}">미승인 유저 보기</li>
					{% endif %}
				</ul>
				<div class="loginInfoDiv">
					<img src="{{ url_for('static', filename='images/myphoto.png') }}" class="myphotoBtn">
					{% if user_info['user_perm']==0 %}<span>{{user_info['user_name']}} 관리자</span> {% endif %}
					{% if user_info['user_perm']==1 %}<span>{{user_info['user_name']}} 학생</span> {% endif %}
					{% if user_info['user_perm']==2 %}<span>{{user_info['user_name']}} 조교</span> {% endif %}
					{% if user_info['user_perm']==3 %}<span>{{user_info['user_name']}} 교수</span> {% endif %}
					<a href="{{ url_for('logout') }}">
					<img src="{{ url_for('static', filename='images/logout.png') }}" class="logoutBtn">
					</a>
				</div>
			</div>
{% block content %}{% endblock %}
		</div>
	</body>
</html>
