{% extends 'layout_login.html' %}

{% block stylesheet %}
		<link rel="stylesheet" href="{{ url_for('static', filename='css/slick.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/slick-theme.css') }}">
{% endblock %}

{% block script %}
		<script type="text/javascript" src="{{ url_for('static', filename='js/slick.min.js') }}"></script>
		<script type="text/javascript">
		$(document).ready(function(){
			$(".sliderDiv").slick({
				slide: "Div",
				infinite: true,
				slidesToShow: 1,
				slideToScroll: 1,
				dots: true,
				autoplay: true,
				autoplaySpeed: 2000,
			});
		});
		
		</script>
		<script type="text/javascript">
			//강의삭제
		$(document).on("click",".lectureDelDiv", function(){
			if(confirm("삭제하시겠습니까?")){
				var del_link = $(this).attr("link");
				$.ajax({
					url: del_link,
					type: "GET",
					success: function(d){
						location.href="/lecture"
					}
				});
			}
			return false;
		});
			</script>
{% endblock %}

{% block content %}
			<div class="bannerDiv">
				<div class="sliderDiv slider">
					<div><img src="{{ url_for('static', filename='images/banner01.jpg') }}"></div>
					<div><img src="{{ url_for('static', filename='images/banner02.jpg') }}"></div>
				</div>
			</div>
			
			<div class="contentDiv">
				<h1>강의 목록</h1>
				<div class="topContentMenu">
					<div class="semesterDiv">
						<select class="semesterSelect inputStyle01" name="semesterSelect">
						<option>2022-1학기</option>
						<option>2022-2학기</option>
						</select>
					</div>
					<div class="searchDiv">
						<input type="text" name="searchInput" class="searchInput inputStyle01">
					</div>
				</div>
				<div class="lectureListDiv">
					<ul>
						{% for  i in lecture_list %}
						<li>
							<div class="lectureInfoDiv">
								<div class="lectureTitleDiv link" link="{{ url_for('prob',lecture_no=i.lecture_no) }}">
									<span>{{i.lecture_name}}<br>{{i.professor}}</span>
									<img src="{{ url_for('static', filename='images/homework.png') }}">
								</div>
								<div class="lectureContentDiv link" link="{{ url_for('prob',lecture_no=i.lecture_no) }}">
									<span>{{i.major}}<br>{{i.separated}}</span>
								</div>
							{% if user_perm == 0 or user_perm== 3 %}
								<div class="likeDiv">
									<img src="{{ url_for('static', filename='images/del_icon.png') }}" class="lectureDelDiv" link="{{ url_for('lecture2',lecture_no=i.lecture_no) }}">
									<img src="{{ url_for('static', filename='images/edit_icon.png') }}" class="lectureEditDiv link" link="{{ url_for('lecture_mod',lecture_no=i.lecture_no) }}">
								</div>
							{% endif %}
							</div>
						</li>
						{% endfor %}
						<li>
							{% if user_perm == 0 or user_perm== 3 %}
							<div class="lectureInfoAddDiv">
								<div class="lectureInfoAddBtnDiv link" link="{{ url_for('lecture_add') }}">
									<img src="{{ url_for('static', filename='images/add_icon.png') }}" alt="클릭시 강의추가">
								</div>
							</div>
							{% endif %}
						</li>
					</ul>
				</div>
			</div>
{% endblock %}
