{% extends 'layout_nologin.html' %}

<script>
{% with messages = get_flashed_messages() %}
    {% if messages %}
            alert("{{messages[-1]}}");
    {% endif %}
{% endwith %}
</script>
{% block content %}

<div class="bg-video">
	<video class="bg-video__content" autoplay muted loop>
		<source src="static/background.mp4" type="video/mp4" />
	</video>
</div>
<div class="login-wrapper">
	<div class="login-wrapper2">
		<div class="login-wrapper-padding">
			<h2>
				<img
					src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FbCAVka%2FbtrY2o9XY6e%2Fld0UENc2vedDW60ngkDyI1%2Fimg.jpg"
					width="50%"
					height="50%"
					style="margin: auto; display: block; margin-bottom: 15%;"
				/>
			</h2>

			<form method="POST" action="{{ url_for('login') }}" id="form1" id="login-form" style="margin-top: 10%;" onsubmit="return loginFormCheck();">
				<div class="id-text">이메일</div>
				<input type="text" id="email" name="email" placeholder="Email" />
				<!-- <div class="error error-txt">Email can't be blank</div>-->

				<div class="id-text">비밀번호</div>
				<input type="password" id="pw" name="pw" placeholder="Password" />
				<!-- <div class="error error-txt">Password can't be blank</div>-->
				<label for="remember-check">
					<input type="checkbox" id="remember-check" style="width:5%;" /> 자동로그인
				</label>
				<input type="submit" id="login" value="Login" />
			</form>
			
			<div class="findview">
				<a>아이디 찾기 |</a> 
				<a>비밀번호 찾기 |</a>
				<a href="{{ url_for('join') }}"> 회원가입</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}
