<title>Ewha Edu Translation Platform 비밀번호 찾기 입니다.</title>
<table align="center" border="0" cellpadding="0" cellspacing="0" style="font-size: 14.0px;color: rgb(85,85,85);line-height: 26.0px;letter-spacing: normal;font-weight: normal;font-style: normal;font-stretch: normal;width: 100.0%;max-width: 650.0px;background-color: rgb(255,255,255);padding: 40.0px;">
  <tbody>
    <tr>
      <td align="center">
        <table width="100%" cellpadding="0" cellspacing="0" border="0" style="max-width: 650.0px;margin: 0 auto;">
          <tbody>
            <tr>
              <td valign="top" align="left" height="33">
                <a href="https://edu-trans.ewha.ac.kr rel="noopener noreferrer" target="_blank">
                  <img height="33" src="https://cms.ewha.ac.kr/user/gsti/mycodyimages/h_logo.png" style="border: 0;vertical-align: top;">
                </a>
              </td>
            </tr>
            <tr>
              <td height="20" style="border-bottom: 1.0px solid rgb(221,221,221);line-height: 19.0px;height: 19.0px;"></td>
            </tr>
          </tbody>
        </table>
        <table width="100%" cellpadding="0" cellspacing="0" border="0" style="margin: 0 auto;">
          <tbody>
            <tr>
              <td height="20"></td>
            </tr>
            <tr>
              <td align="left" style="font-size: 22.0px;font-weight: normal;color: rgb(17,17,17);line-height: 30.0px;"> Ewha Edu Translation Platform 비밀번호 찾기 입니다. </td>
            </tr>
            <tr>
              <td height="24"></td>
            </tr>
            <tr>
              <td>
                <span>
                <a style="font-weight: bold;color: rgb(18,93,230);font-size: 25.0px;line-height: 25.0px;" href="https://edu-trans.ewha.ac.kr/[func]?email=[email]&code=[code]">https://edu-trans.ewha.ac.kr/[func]?email=[email]&code=[code]<a>
                </span>
              </td>
            </tr>
            <tr>
              <td height="24"></td>
            </tr>
            <tr>
              <td align="left"> 해당 링크로 접속해 비밀번호 찾기를 진행해주세요. </td>
            </tr>
            <tr>
              <td height="60"></td>
            </tr>
          </tbody>
        </table>
        <table width="100%" cellpadding="0" cellspacing="0" border="0" style="text-align: left;">
          <tbody>
            <tr>
              <td>
                <ul style="width: 100.0%;background-color: rgb(246,246,246);color: rgb(119,119,119);font-size: 12.0px;text-align: left;padding-left: 23.0px;margin: 0;">
                  <li style="list-style-position: inside;padding: 20.0px 0;"> 본 이메일은 발신전용으로 회신되지 않습니다.</li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>
                <p style="margin-top: 16.0px;font-family: Arial;font-size: 12.0px;color: rgb(153,153,153);"> ⓒ Ewha woman university. All rights reserved. </p>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>