{% extends 'layout_login.html' %}

{% block stylesheet %}
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/wavesurfer/wavesurfer.js') }}"></script>
<script src="{{ url_for('static', filename='js/wavesurfer/wavesurfer.timeline.js') }}"></script>
<script src="{{ url_for('static', filename='js/wavesurfer/wavesurfer.regions.js') }}"></script>
<script src="{{ url_for('static', filename='js/wavesurfer/wavesurfer.minimap.js') }}"></script>
<script type="text/javascript">
var probAudioPlayer;
var check_new_upload=1;
$(document).ready(function(){
	// 파일업로드
	$(document).on("change", "input[name=prob_sound_file]", function(){
		var formData = new FormData();
		formData.append("prob_sound", $("input[name=prob_sound_file]")[0].files[0]);
		$.ajax({
			url: "{{ url_for('prob_upload') }}",
			type: "POST",
			processData: false,
			contentType: false,
			data: formData,
			success: function(d){
				$(".probSoundUpload").hide();
				$(".probAddFormRightDiv>.inputFormDiv").show();
				$("input[name=prob_sound_path]").val(d.file_path);
				//polling_id = setInterval(() => { translation_polling(d.job) }, 1000)
				//$(".loader-bg").removeClass("hidden")
				probAudioPlayer.clearRegions();
				check_new_upload=0;
				probAudioPlayer.load(d.file_path);
			}
		});
	});
 
	$(document).on("change", "select[name='prob_type']", function(){
		var d = $(this).val();
		if(d == "번역"){
			$(".probSoundUpload").hide();
      $("div[name=prob_replay2]").hide()
      $("div[name=prob_play_speed2]").hide()
			$(".probAddFormRightDiv .inputFormDiv").hide();
		}else{
			$(".probSoundUpload").show();
			$(".probAddFormRightDiv .inputFormDiv").hide();
      $("div[name=prob_replay2]").show()
      $("div[name=prob_play_speed2]").show()
		}
	});
 
	$(document).on("click", ".waveRegionDiv .btn", function(){
		var regionIndex = $(this).attr("region");
		var region = Object.values(probAudioPlayer.regions.list)[regionIndex];
		region.play();
	});
	
	$(document).on("click", ".waveRegionDiv .del", function(){
		var regionIndex = $(this).attr("region");
		var region = Object.values(probAudioPlayer.regions.list)[regionIndex];
		region.remove();
	});

	probAudioPlayer = WaveSurfer.create({
		container: document.querySelector('#waveform'),
		waveColor: '#A8DBA8',
		progressColor: '#3B8686',
		backend: 'MediaElement',
		plugins: [
			WaveSurfer.regions.create({
				regionsMinLength: 2,
				regions: [
				],
				dragSelection: {
					slop: 5
				}
			})
		]
	});
	function regionUpdate(region, e){
		var region = Object.values(probAudioPlayer.regions.list);
		$(".waveRegionDiv ul").empty();
		for(var i=0; i<region.length; i++){
			var liEle = $("<li />");
			var spanEle = $("<span />");
			spanEle.addClass("btn").attr("region", i).text("구간 " + i + " : " + Math.floor( region[i].start/ 60).toFixed()  + "분 " + Math.floor(region[i].start % 60).toFixed() + "초" + " ~ " + Math.floor( region[i].end/ 60).toFixed()  + "분 " + Math.floor(region[i].end % 60).toFixed() + "초");
			spanEle.attr("start", region[i].start.toFixed());
			spanEle.attr("end", region[i].end.toFixed());
			var imgEle = $("<img />");
			imgEle.addClass("del").attr({
				"region": i,
				"src": "{{ url_for('static', filename='images/X_icon.png') }}"
			});
			liEle.append(spanEle);
			liEle.append(imgEle);
			$(".waveRegionDiv ul").append(liEle);
		}
	}
	function audioSizeUpdate(){
		var audioSize = probAudioPlayer.getDuration();
		if(isNaN(audioSize)){
			setTimeout(audioSizeUpdate(), 1000);
		}else{
			$(".waveSoundSize").text("원음 : " + Math.floor(audioSize / 60).toFixed()  + "분 " + Math.floor(audioSize % 60).toFixed() + "초");
			if($("select[name=prob_type]").val() == "동시통역"){	
				probAudioPlayer.addRegion({start : 0, end: audioSize});	
				regionUpdate("", "");	
			}
		}
	}
	probAudioPlayer.on('waveform-ready', function(){
		{% for i in audio_list %}
			if(check_new_upload){
     			probAudioPlayer.addRegion({start : {{i["start"]}}, end: {{i.end}}});
			}
   		{% endfor %}
		audioSizeUpdate();
		regionUpdate("", "");
	});
	probAudioPlayer.on('region-update-end', function(region, e){
		regionUpdate(region, e);
	});
	probAudioPlayer.on('region-removed', function(region, e){
		regionUpdate(region, e);
	});

	$(document).on("click", ".btn-submit", function(){
		var region = [];
		var regionBtnEle = $(".waveRegionDiv span.btn");
		for(var i=0; i<regionBtnEle.length; i++){
			region.push({
				"index": i,
				"start": $(regionBtnEle[i]).attr("start"),
				"end": $(regionBtnEle[i]).attr("end")
			});
		}
		var params = {
			"lecture_no":"{{lecture_no}}",
			"as_no":"{{as_no}}",
			"prob_sound_path": $("input[name=prob_sound_path]").val(),
			"prob_week": $("select[name=prob_week]").val(),
			"prob_timeEnd": $("input[name=prob_timeEnd]").val(),
			"prob_name": $("input[name=prob_name]").val(),
			"prob_type": $("select[name=prob_type]").val(),
			"prob_keyword": $("input[name=prob_keyword]").val(),
			"prob_translang_source": $("select[name=prob_translang_source]").val(),
			"prob_translang_destination": $("select[name=prob_translang_destination]").val(),
			"prob_exp": $("textarea[name=prob_exp]").val(),
			"prob_replay": $("select[name=prob_replay]").val(),
			"prob_play_speed": $("input[name=prob_play_speed]").val(),
			"prob_open": $("input[name=prob_open]:checked").length > 0 ? $("input[name=prob_open]:checked").val() : "off",
			"original_text": $("textarea[name=prob_sound_text]").val(),
			"prob_region": region
		};
		console.log(JSON.stringify(params));
		$.ajax({
			
			url: "{{ url_for('prob_mod') }}",
			type: "POST",
			headers: {'Content-Type': 'application/json'},
			data: JSON.stringify(params),
			success: function(d){
        alert("수정 완료");
				location.href="prob?lecture_no="+"{{ lecture_no }}"
			},
      error: function(error){
        alert("입력값을 확인해주세요");
      }
		});
	});
	// 기존파일 로딩
	//$(".probSoundUpload").hide();
	{% if as_list['as_type']!='번역' %}
	$(".probAddFormRightDiv>.inputFormDiv").show();
	$("input[name=prob_sound_path]").val('{{as_list["upload_url"]}}');
	probAudioPlayer.load('{{as_list["upload_url"]}}');
	{% endif %}
});
</script>
{% endblock %}

{% block content %}
<div class="contentDiv">
	<h1>과제 수정</h1>
	<div class="probAddFormDiv">
		<div class="probAddFormLeftDiv">
			<div class="inputFormDiv">
				<div class="inputFormDiv-1">
					<label for class="probAddFormLabel">주차</label>
					<select class="inputStyle01" name="prob_week">
						<option value="1주차"{% if as_list['week']=="1주차" %} selected {% endif %}>1주차</option>      
            			<option value="2주차"{% if as_list['week']=="2주차" %} selected {% endif %}>2주차</option>   
            			<option value="3주차"{% if as_list['week']=="3주차" %} selected {% endif %}>3주차</option>   
            			<option value="4주차"{% if as_list['week']=="4주차" %} selected {% endif %}>4주차</option>   
            			<option value="5주차"{% if as_list['week']=="5주차" %} selected {% endif %}>5주차</option>   
            			<option value="6주차"{% if as_list['week']=="6주차" %} selected {% endif %}>6주차</option>   
            			<option value="7주차"{% if as_list['week']=="7주차" %} selected {% endif %}>7주차</option>   
            			<option value="8주차"{% if as_list['week']=="8주차" %} selected {% endif %}>8주차</option>     
            			<option value="9주차"{% if as_list['week']=="9주차" %} selected {% endif %}>9주차</option>   
           			 	<option value="10주차"{% if as_list['week']=="10주차" %} selected {% endif %}>10주차</option>   
            			<option value="11주차"{% if as_list['week']=="11주차" %} selected {% endif %}>11주차</option>   
            			<option value="12주차"{% if as_list['week']=="12주차" %} selected {% endif %}>12주차</option>   
            			<option value="13주차"{% if as_list['week']=="13주차" %} selected {% endif %}>13주차</option>   
            			<option value="14주차"{% if as_list['week']=="14주차" %} selected {% endif %}>14주차</option>   
            			<option value="15주차"{% if as_list['week']=="15주차" %} selected {% endif %}>15주차</option>     
            			<option value="16주차"{% if as_list['week']=="16주차" %} selected {% endif %}>16주차</option>                       
					</select>
				</div>
				<div class="inputFormDiv-2">
					<label for class="probAddFormLabel">기한</label>
					<input type="datetime-local" class="inputStyle01" name="prob_timeEnd" value='{{as_list["limit_time"]}}'>
				</div>
			</div>
			<div class="inputFormDiv">
				<div class="inputFormDiv-1 w75">
					<label for class="probAddFormLabel">과제명</label>
					<input type="text" class="inputStyle01" name="prob_name" value='{{as_list["as_name"]}}'>
				</div>
				<div class="inputFormDiv-2 w25">
					<label for class="probAddFormLabel">과제 종류</label>
					<select class="inputStyle01" name="prob_type">
						<option value="순차통역"{% if as_list['as_type']=="순차통역" %} selected {% endif %}>순차통역</option>
						<option value="동시통역"{% if as_list['as_type']=="동시통역" %} selected {% endif %}>동시통역</option>
						<option value="번역"{% if as_list['as_type']=="번역" %} selected {% endif %}>번역</option>          
					</select>
				</div>
			</div>
			<div class="inputFormDiv">
				<div class="inputFormDiv-1 w75">
					<label for class="probAddFormLabel">키워드</label>
					<input type="text" class="inputStyle01" name="prob_keyword" value='{{as_list["keyword"]}}'>
				</div>
				<div class="inputFormDiv-2 w25">
					<label for class="probAddFormLabel">번역언어</label>
					<div>
					<span>출발언어<select class="inputStyle01" name="prob_translang_source">
						<option value="jp"{% if as_list['translang']=="jp" %} selected {% endif %}>일본어</option>
						<option value="en"{% if as_list['translang']=="en" %} selected {% endif %}>영어</option>
						<option value="cn"{% if as_list['translang']=="cn" %} selected {% endif %}>중국어</option>
						<option value="fr"{% if as_list['translang']=="fr" %} selected {% endif %}>불어</option>
						<option value="ko"{% if as_list['translang']=="ko" %} selected {% endif %}>한국어</option>
					</select></span>
					<span>도착언어<select class="inputStyle01" name="prob_translang_destination">
						<option value="ko" selected>한국어</option>
					</select></span>
					</div>
				</div>
			</div>
			<div class="inputFormDiv">
				<label for class="probAddFormLabel">과제 설명</label>
				<textarea class="inputStyle01" name="prob_exp">{{as_list["description"]}}</textarea>
			</div>
			<div class="inputFormDiv">
				<div class="inputFormDiv-1 w25" name="prob_replay2">
					<label for class="probAddFormLabel">다시 듣기 제한</label>
					<select class="inputStyle01" name="prob_replay">
						<option value="무제한"{% if as_list['re_limit']=="무제한" %} selected {% endif %}>무제한</option>
					</select>
				</div>
				<div class="inputFormDiv-1 w25" name="prob_play_speed2">
					<label for class="probAddFormLabel">재생 속도</label>
					<input type="text" class="inputStyle01" name="prob_play_speed" value='{{as_list["speed"]}}'>
				</div>
			</div>
			<div class="inputFormDiv">
				<input type="checkbox" name="prob_open" {% if as_list['disclosure']==0 %} checked {% endif %}>
				<label for class="probAddFormLabel">자습용 과제</label>
			</div>
		</div>
		<div class="probAddFormRightDiv">
			<div class="probTextDiv">
				<label class="probTextLabel">원문</label>
				<textarea name="prob_sound_text" class="inputStyle01">{{as_list["original_text"]}}</textarea>
			</div>
			<div class="probSoundUpload">
				<label for class="probSoundUploadLabel">음원 업로드</label>
				<input type="file" name="prob_sound_file">
				<input type="hidden" name="prob_sound_path">
			</div>
			<div class="inputFormDiv">
				<label for class="probAddFormLabel">드래그하여 구간을 설정하세요.</label><br>
				<label for class="probAddFormLabel waveSoundSize">원음 : ?분 ?초</label>
				<div id="waveform"></div>
				<div class="waveRegionDiv">
					<ul></ul>
				</div>
			</div>
		</div>
	</div>
	<div class="btnDiv btn-2">
		<span class="btn btn-cancel">뒤로가기</span>
		<span class="btn btn-submit">과제 생성</span>
	</div>
</div>
{% endblock %}
