{% extends 'layout_login.html' %}

{% block stylesheet %}
		<link href="{{ url_for('static', filename='css/videojs/video-js.min.css') }}" rel="stylesheet">
		<link href="{{ url_for('static', filename='css/videojs/videojs.wavesurfer.min.css') }}" rel="stylesheet">
		<link href="{{ url_for('static', filename='css/videojs/videojs.record.min.css') }}" rel="stylesheet">
{% endblock %}

{% block script %}
		<script type="text/javascript" src="{{ url_for('static', filename='js/videojs/video.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/videojs/adapter.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/videojs/recorder.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/videojs/wavesurfer.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/videojs/wavesurfer.microphone.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/videojs/videojs.wavesurfer.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/videojs/videojs.record.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/videojs/videojs.record.recorderjs.min.js') }}"></script>
<script type="text/javascript">
var probIndex;
var probFileList = []; // 문제파일
{% for i in wav_url_example %}
probFileList.push("{{ i.upload_url}}");
{% endfor %}
var submitFileList = []; // 녹음파일
{% for  i in wav_url %}
submitFileList.push("{{i.wav_url}}");
{% endfor %}
var probTextList = []; // 문제텍스트
{% if original_stt_result != None %}
{% for i in range(original_stt_result|length) %}
{% autoescape false %}
probTextList.push("{{original_stt_result[i].textFile}}"); 
{% endautoescape %}
{% endfor %}
{% endif %}
var submitTextList = []; //녹음텍스트
{% if as_info['as_type']=='번역' %}
	submitTextList.push("{{user_trans_result}}");
{% endif %}

{% if stt_result != None %}
{% for i in range(stt_result|length) %}
submitTextList.push("{{stt_result[i].textFile}}");
{% endfor %}
{% endif %}
{% autoescape false %}
var oriInputText = "{{ as_info['original_text'] }}";
{% endautoescape %}
var audioOptions = {
	controls: true,
	autoplay: false,
	fluid: false,
	bigPlayButton: false,
	plugins: {
		wavesurfer: {
			backend: 'MediaElement',
			displayMilliseconds: false,
			debug: true,
			waveColor: '#086280',
			progressColor: 'black',
			cursorColor: 'black',
			hideScrollbar: true
		}
	}
};

function loadData(index){
	index = parseInt(index);
	probIndex = index;
	{% if as_info['as_type']!='번역' %}
	examplePlayer.src({ src: probFileList[index], type: 'audio/wav'});
	submitPlayer.src({ src: submitFileList[index], type: 'audio/wav'});
	{% endif %}
	$(".exampleTextDiv div").empty().text(oriInputText);
	$(".assignmentTextDiv div").empty().text(submitTextList[index]);
}

function selectText(){
	var txt = "";
	var sOffset = 0;
	var eOffset = 0;
	if(document.getSelection){
		txt = document.getSelection().toString();
		var nodeIdx = Array.from(document.getSelection().anchorNode.parentElement.childNodes).indexOf(document.getSelection().anchorNode);
		var nodeEnd = Array.from(document.getSelection().anchorNode.parentElement.childNodes).indexOf(document.getSelection().extentNode);
		if(nodeIdx != nodeEnd){
			return false;
		}
		var preTextLength = 0;
		for(var i=0; i<nodeIdx; i++){
			preTextLength += $(document.getSelection().anchorNode.parentElement.childNodes[i]).text().length;
		}
		sOffset = document.getSelection().anchorOffset + preTextLength;
		eOffset = document.getSelection().focusOffset + preTextLength;
		if(sOffset > eOffset){
			var tmp = eOffset;
			eOffset = sOffset;
			sOffset = tmp;
		}
	}else if(document.selection){
		txt = document.selection.createRange().text;
		sOffset = document.selection.createRange().startOffset;
		eOffset = document.selection.createRange().endOffset;
	}
	return {'txt': txt, 'sOffset': sOffset, 'eOffset': eOffset};
}

function createFeedback(txt, s, e){
	if(txt.trim() == ""){
		return false;
	}
/*
	var checkEle = $(".feedbackContentDiv ul .feedbackContentTxtDiv");
	for(var i=0; i<checkEle.length; i++){
		if($(checkEle[i]).text().trim() == txt.trim()){
			return false;
		}
	}
*/
	var checkEle = $(".feedbackContentDiv>ul>li");
	for(var i=0; i<checkEle.length; i++){
		var sOffset = parseInt($(checkEle[i]).attr("sOffset"));
		var eOffset = parseInt($(checkEle[i]).attr("eOffset"));
		if(sOffset <= s && s <= eOffset){
			return false;
		}
		if(sOffset <= e && e <= eOffset){
			return false;
		}
	}

	var seq = new Date().getTime() + "" +new Date().getMilliseconds();
	var ele = $("<li />").attr({ "id": seq, "sOffset": s, "eOffset": e });
	var rowDiv = $("<div />").addClass("feedbackContentRowDiv");
	var rowTitleDiv = $("<div />").addClass("feedbackContentRowTitleDiv");
	var rowContentDiv = $("<div />").addClass("feedbackContentRowContentDiv");
	var rowContentTxtDiv = $("<div />").addClass("feedbackContentTxtDiv").text(txt);
	var rowContentTagDiv = $("<div />").addClass("feedbackContentTagDiv");
	var rowContentTagAdd = $("<span />").addClass("feedbackTagAdd").text("▼");
	var rowContentCmtDiv = $("<div />").addClass("feedbackContentCmtDiv");

	rowTitleDiv.append($("<span />").text("X"));

	rowContentTagDiv.append($("<ul />").addClass("feedbackTagView"));
	rowContentTagDiv.append(rowContentTagAdd);

	rowContentCmtDiv.append($("<textarea />"));

	rowContentDiv.append(rowContentTxtDiv);
	rowContentDiv.append(rowContentTagDiv);
	rowContentDiv.append(rowContentCmtDiv);

	rowDiv.append(rowTitleDiv);
	rowDiv.append(rowContentDiv);
	ele.append(rowDiv);

	$(".feedbackContentDiv>ul").append(ele);
	feedbackSort();
	return seq;
}
function createFeedbackTagList(id){
	if($("#" + id + " .feedbackTagList").length == 0){
		var tagList = [];
		tagList.push("내용오역");
		tagList.push("불필요한 첨가");
		tagList.push("일관성 문제");
		tagList.push("표현 어색");
		tagList.push("칭찬");
		tagList.push("필러");
		tagList.push("백트래킹");
		tagList.push("지연");

		var ele = $("<ul />").addClass("feedbackTagList").hide();
		for(var i=0; i<tagList.length; i++){
			ele.append($("<li />").text(tagList[i]));
		}
		$(".feedbackContentTagDiv").append(ele);
	}
	$("#" + id + " .feedbackTagList").toggle();
}

function createFeedbackTag(id, tag){
	var checkEle = $("#" + id + " .feedbackTagView .feedbackTag");
	for(var i=0; i<checkEle.length; i++){
		if($(checkEle[i]).text().trim() == tag.trim()){
			$("#" + id + " .feedbackTagList").hide();
			return false;
		}
	}

	var ele = $("<li />");
	var tagSpan = $("<span />").addClass("feedbackTag").text(tag);
	var tagSpanDel = $("<span />").addClass("feedbackTagDel").text("X");

	ele.append(tagSpan);
	ele.append(tagSpanDel);

	$("#" + id + " .feedbackTagView").append(ele);
	$("#" + id + " .feedbackTagList").hide();
}

function setFeedbackComment(id, comment){
	$("#" + id + " .feedbackContentCmtDiv textarea").val(comment);
}

function deleteFeedbackTag(e){
	e.parent().remove();
}

function saveFeedback(){
	var feedbackList = [];
	var feedbackEleList = $(".feedbackContentDiv>ul>li");

	for(var i=0; i<feedbackEleList.length; i++){
		var ele = $(feedbackEleList[i]);
		var txt = ele.find(".feedbackContentTxtDiv").text();
		var sOffset = ele.attr("sOffset");
		var eOffset = ele.attr("eOffset");
		var tagList = [];
		var tagEleList = ele.find(".feedbackTagView .feedbackTag");
		for(var j=0; j<tagEleList.length; j++){
			tagList.push($(tagEleList[j]).text());
		}
		var cmt = ele.find(".feedbackContentCmtDiv textarea").val();

		feedbackList.push({
			"text": txt,
			"sOffset": sOffset,
			"eOffset": eOffset,
			"tagList": tagList,
			"comment": cmt
		});
	}
	pro_rev=$("#professor_review").val();
	var params = {
			"lecture_no":"{{lecture_no}}",
			"as_no":"{{as_no}}",
      "user_no":"{{user_no}}",
			"feedback":feedbackList,
			"professor_review":pro_rev
		};
	$.ajax({
			url: "/prob_feedback",
			type: "POST",
			headers: {'Content-Type': 'application/json'},
			data: JSON.stringify(params),
			success: function(d){
				location.href="/prob?lecture_no={{lecture_no}}"
			}
		});
}

function feedbackSort(){
	var sortList = [];
	var eleList = $(".feedbackContentDiv>ul>li")
	var pEle = $(".feedbackContentDiv>ul").clone();
	var assignmentText = submitTextList[probIndex];
	var blockAssignmentText = "";

	for(var i=0; i<eleList.length; i++){
//		var txt = $(eleList[i]).find(".feedbackContentTxtDiv").text();
//		sortList.push({"id": $(eleList[i]).attr("id"), "index": assignmentText.indexOf(txt)});
		sortList.push({"id": $(eleList[i]).attr("id"), "sOffset": parseInt($(eleList[i]).attr("sOffset")), "eOffset": parseInt($(eleList[i]).attr("eOffset"))});
	}
	sortList.sort(function(a, b){ return a.sOffset < b.sOffset ? -1 : a.sOffset > b.sOffset ? 1 : 0; });
	$(".feedbackContentDiv>ul").empty();
	var peOffset = 0;
	if(sortList.length == 0){
		blockAssignmentText = assignmentText;
	}
	for(var i=0; i<sortList.length; i++){
		$(".feedbackContentDiv>ul").append(pEle.find("li#" + sortList[i].id));
		var sOffset = sortList[i].sOffset;
		var eOffset = sortList[i].eOffset;
		if(sortList.length == 1){
			blockAssignmentText = assignmentText.slice(0, sOffset) + "<span class='feedbackBlock'>" + assignmentText.slice(sOffset, eOffset) + "</span>" + assignmentText.slice(eOffset);
			break;
		}
		if(i == 0){
			blockAssignmentText = assignmentText.slice(0, sOffset) + "<span class='feedbackBlock'>" + assignmentText.slice(sOffset, eOffset) + "</span>";
			peOffset = eOffset;
		}else if(i == sortList.length - 1){
			blockAssignmentText = blockAssignmentText + assignmentText.slice(peOffset, sOffset) + "<span class='feedbackBlock'>" + assignmentText.slice(sOffset, eOffset) + "</span>" + assignmentText.slice(eOffset);
		}else{
			blockAssignmentText = blockAssignmentText + assignmentText.slice(peOffset, sOffset) + "<span class='feedbackBlock'>" + assignmentText.slice(sOffset, eOffset) + "</span>";
			peOffset = eOffset;
		}
	}
	$(".assignmentTextDiv div").html(blockAssignmentText);
}

var examplePlayer;
var submitPlayer;
$(document).ready(function(){
	{% if as_info['as_type']!='번역' %}
	// 플레이어 로딩
	examplePlayer = videojs("exampleAudioWaveSurfer", audioOptions, function(){ });
	submitPlayer = videojs("assignmentAudioWaveSurfer", audioOptions, function(){ });
	{% endif %}
	// 1번문제 로딩
	loadData(0);
	// 피드백 로딩
{% autoescape false %}
{% if feedback_list !=None %}
	{% for i in feedback_list %}
	seq = createFeedback("{{ i.text }}", {{i.start}}, {{i.end}});
	{% for tag in i.tagList %}
	createFeedbackTag(seq, "{{ tag }}");
	{% endfor %}
	setFeedbackComment(seq, "{{ i.comment }}");
	{% endfor %}
{% endif %}
{% endautoescape %}
	// stt 피드백
{% if stt_result != None %}
{% for i in range(stt_result|length) %}
        {% for j in range(stt_feedback[i]|length) %}
                var sf_start={{stt_feedback[i][j]['start']}}
                var sf_end={{stt_feedback[i][j]['end']}}
                var sf_type="{{stt_feedback[i][j]['type']}}"
                seq = createFeedback(submitTextList[{{i}}].slice(sf_start,sf_end), sf_start, sf_end);
                createFeedbackTag(seq, sf_type);
        {% endfor %}
{% endfor %}
{% endif %}

	// 탭 클릭
	$(document).on("click", ".feedbackProbTab li", function(){
		loadData($(this).attr("idx"));
	});

	// 피드백 상자 생성
	$(document).on("mouseup", ".feedbackDiv .probTextDiv .probTextContentDiv .assignmentTextDiv div", function(){
		var txtObj = selectText();
		if(txtObj == false){
			return false;
		}
		var txt = txtObj.txt;
		createFeedback(txt, txtObj.sOffset, txtObj.eOffset);
	});

	// 피드백 상자 삭제
	$(document).on("click", ".feedbackContentRowTitleDiv span", function(){
		$(this).parents("li").remove();
		feedbackSort();
	});

	// 원음 버튼
	$(document).on("click", ".oriTextBtn", function(){
		$(".exampleTextDiv div").empty().text(oriInputText);
	});
	$(document).on("click", ".sttTextBtn", function(){
		$(".exampleTextDiv div").empty().text(probTextList[probIndex]);
	});

	// 피드백 태그 리스트 뷰
	$(document).on("click", ".feedbackTagAdd", function(){
		var id = $(this).parents("li").attr("id");
		createFeedbackTagList(id);
	});

	// 피드백 태그 추가
	$(document).on("click", ".feedbackTagList li", function(){
		var id = $(this).parents("li").attr("id");
		var tag = $(this).text();
		createFeedbackTag(id, tag);
	});

	// 피드백 태그 제거
	$(document).on("click", ".feedbackTagView li .feedbackTagDel", function(){
		deleteFeedbackTag($(this));
	});

	// 피드백 저장
	$(document).on("click", ".saveFeedback", function(){
		saveFeedback();
	});
});
</script>
{% endblock %}

{% block content %}
			<div class="contentDiv feedbackDiv">
				<div class="feedbackTitleDiv">
					<h1>{{as_name}} - {{user_info['user_name']}}-{{as_info['as_type']}}</h1>
					<div class="btn-2">
						{% if as_info['as_type']=='동시통역'%}
						<button class="btn">동시재생</button>
						{% endif %}
            {% if user_info["user_perm"] == 0 or user_info["user_perm"]== 3 %}
						<button class="btn saveFeedback">저장</button>
            {% endif %}
					</div>
				</div>

				<ul class="feedbackProbTab">
					{% for i in wav_url_example %}
					<li idx="{{ loop.index - 1 }}">구간 {{ loop.index }}</li>
					{% endfor %}
				</ul>
					{% if as_info['as_type']!='번역' %}
				<div class="exampleAudioDiv">
					<audio id="exampleAudioWaveSurfer" class="video-js vjs-default-skin"></audio>
				</div>
				<div class="assignmentAudioDiv">
					<audio id="assignmentAudioWaveSurfer" class="video-js vjs-default-skin"></audio>
				</div>
					{% endif %}
				<div class="probTextDiv">
					<div class="probTextContentDiv">
						<div class="exampleTextDiv">
							<h2>원문
								<span class="btn btn-h2-small oriTextBtn">원문</span>
								<span class="btn btn-h2-small sttTextBtn">STT</span>
							</h2>
							<div></div>
						</div>
						<div class="assignmentTextDiv">
							<h2>{% if as_info['as_type']=='번역' %}학생 번역문{% else %}통역 전사문{% endif %}</h2>
							<div></div>
						</div>
						<div class="commentTextDiv">
							<h2>총평</h2>
							<div>
								<textarea id="professor_review">{% if professor_review!=None %} {{professor_review}} {% endif %}</textarea>
							</div>
						</div>
					</div>
					<div class="feedbackContentDiv">
						<div class="feedbackContentTitleDiv">
							<h2>피드백</h2>
							<!--button class="btn">불러오기</button-->
						</div>
						<ul></ul>
					</div>
				</div>
			</div>
{% endblock %}
