{% extends 'layout_login.html' %}

{% block stylesheet %}
{% endblock %}

{% block script %}
<script type="text/javascript">
$(document).ready(function(){
	// 제출
	$(document).on("click", ".submitRecordDataBtn", function(){
		var txt = $("#submitText").val();

		var param = {
			"submitUUID": "0",
			"as_no": {{as_no}},
			"lecture_no":{{lecture_no}},
			"text":txt
		};

		$.ajax({
			url: "/prob_submit",
			type: "POST",
			headers: {'Content-Type': 'application/json'},
			data: JSON.stringify(param),
			success: function(d){
				location.href="/prob?lecture_no={{lecture_no}}"
			}
		});
	});

});
</script>
{% endblock %}

{% block content %}
			<div class="contentDiv">
				<h1>{{as_info['as_type']}}</h1>
				<div class="probKeywordDiv">
					<span>문제 키워드 : 테스트 키워드</span>
				</div>
				<div class="nomalTrans">
					<div class="exampleTextDiv">
						<h2>원문</h2>
						<textarea id="exampleText">{{as_info["original_text"]}}</textarea>
					</div>
					<div class="submitTextDiv">
						<h2>번역문</h2>
						<textarea id="submitText"></textarea>
					</div>
				</div>
				<div class="recordBtnDiv btnDiv btn-2 btn-align-right">
					<button class="btn btn-submit submitRecordDataBtn">제출</button>
				</div>
			</div>
{% endblock %}
