{% extends 'layout_login.html' %}

{% block stylesheet %}
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/wavesurfer/wavesurfer.js') }}"></script>
<script src="{{ url_for('static', filename='js/wavesurfer/wavesurfer.timeline.js') }}"></script>
<script src="{{ url_for('static', filename='js/wavesurfer/wavesurfer.regions.js') }}"></script>
<script src="{{ url_for('static', filename='js/wavesurfer/wavesurfer.minimap.js') }}"></script>
<script type="text/javascript">
var probAudioPlayer;
$(document).ready(function(){
	var polling_id = null

	function translation_polling(jobid) {
		/*
		$.ajax({
			url: `/stt/${jobid}`,
			success: function(d) {
				if(d.state == undefined) {
					clearInterval(polling_id)
					$(".loader-bg").addClass("hidden")
				} else {
					$(".loader-msg").text(d.state + " 작업 진행중입니다.")
				}
			}
		})
		*/
	}

	// 파일업로드
	$(document).on("change", "input[name=prob_sound_file]", function(){
		var formData = new FormData();
		formData.append("prob_sound", $("input[name=prob_sound_file]")[0].files[0]);
		$.ajax({
			url: "{{ url_for('prob_upload') }}",
			type: "POST",
			processData: false,
			contentType: false,
			data: formData,
			success: function(d){
				$(".probSoundUpload").hide();
				$(".probAddFormRightDiv>.inputFormDiv").show();
				$("input[name=prob_sound_path]").val(d.file_path);
				//polling_id = setInterval(() => { translation_polling(d.job) }, 1000)
				//$(".loader-bg").removeClass("hidden")
				probAudioPlayer.load(d.file_path);
			}
		});
	});
	$(document).on("change", "select[name='prob_type']", function(){
		var d = $(this).val();
		if(d == "번역"){
			$(".probSoundUpload").hide();
      $("div[name=prob_replay2]").hide()
      $("div[name=prob_play_speed2]").hide()
			$(".probAddFormRightDiv .inputFormDiv").hide();
		}else{
			$(".probSoundUpload").show();
			$(".probAddFormRightDiv .inputFormDiv").hide();
      $("div[name=prob_replay2]").show()
      $("div[name=prob_play_speed2]").show()
		}
	});

	$(document).on("click", ".waveRegionDiv .btn", function(){
		var regionIndex = $(this).attr("region");
		var region = Object.values(probAudioPlayer.regions.list)[regionIndex];
		region.play();
	});
	
	$(document).on("click", ".waveRegionDiv .del", function(){
		var regionIndex = $(this).attr("region");
		var region = Object.values(probAudioPlayer.regions.list)[regionIndex];
		region.remove();
	});

	probAudioPlayer = WaveSurfer.create({
		container: document.querySelector('#waveform'),
		waveColor: '#A8DBA8',
		progressColor: '#3B8686',
		backend: 'MediaElement',
		plugins: [
			WaveSurfer.regions.create({
				regionsMinLength: 2,
				regions: [
				],
				dragSelection: {
					slop: 5
				}
			})
		]
	});
	function regionUpdate(region, e){
		var region = Object.values(probAudioPlayer.regions.list);
		$(".waveRegionDiv ul").empty();
		for(var i=0; i<region.length; i++){
			var liEle = $("<li />");
			var spanEle = $("<span />");
			spanEle.addClass("btn").attr("region", i).text("구간 " + i + " : " + Math.floor( region[i].start/ 60).toFixed()  + "분 " + Math.floor(region[i].start % 60).toFixed() + "초" + " ~ " + Math.floor( region[i].end/ 60).toFixed()  + "분 " + Math.floor(region[i].end % 60).toFixed() + "초");
			spanEle.attr("start", region[i].start.toFixed());
			spanEle.attr("end", region[i].end.toFixed());
			var imgEle = $("<img />");
			imgEle.addClass("del").attr({
				"region": i,
				"src": "{{ url_for('static', filename='images/X_icon.png') }}"
			});
			liEle.append(spanEle);
			liEle.append(imgEle);
			$(".waveRegionDiv ul").append(liEle);
		}
	}
	function audioSizeUpdate(){
		var audioSize = probAudioPlayer.getDuration();
		if(isNaN(audioSize)){
			setTimeout(audioSizeUpdate(), 1000);
		}else{
			$(".waveSoundSize").text("원음 : " + Math.floor(audioSize / 60).toFixed()  + "분 " + Math.floor(audioSize % 60).toFixed() + "초");
			if($("select[name=prob_type]").val() == "동시통역"){
				probAudioPlayer.addRegion({start : 0, end: audioSize});
				regionUpdate("", "");
			}
		}
	}
	probAudioPlayer.on('waveform-ready', function(){
		audioSizeUpdate();
	});
	probAudioPlayer.on('region-update-end', function(region, e){
		regionUpdate(region, e);
	});
	probAudioPlayer.on('region-removed', function(region, e){
		regionUpdate(region, e);
	});

	$(document).on("click", ".btn-submit", function(){
		var region = [];
		var regionBtnEle = $(".waveRegionDiv span.btn");
		for(var i=0; i<regionBtnEle.length; i++){
			region.push({
				"index": i,
				"start": $(regionBtnEle[i]).attr("start"),
				"end": $(regionBtnEle[i]).attr("end")
			});
		}
		var formData = new FormData();
		formData.append("prob_original_text_file", $("input[name=prob_original_text_file]")[0].files[0]);
		var params = {
			"lecture_no":"{{lecture_no}}",
			"prob_sound_path": $("input[name=prob_sound_path]").val(),
			"prob_week": $("select[name=prob_week]").val(),
			"prob_timeEnd": $("input[name=prob_timeEnd]").val(),
			"prob_name": $("input[name=prob_name]").val(),
			"prob_type": $("select[name=prob_type]").val(),
			"prob_keyword": $("textarea[name=prob_keyword]").val(),
			"prob_translang_source": $("select[name=prob_translang_source]").val(),
			"prob_translang_destination": $("select[name=prob_translang_destination]").val(),
			"prob_exp": $("textarea[name=prob_exp]").val(),
			"prob_replay": $("select[name=prob_replay]").val(),
			"prob_play_speed": $("input[name=prob_play_speed]").val(),
			"prob_open": $("input[name=prob_open]:checked").length > 0 ? $("input[name=prob_open]:checked").val() : "off",
			"original_text": $("textarea[name=prob_sound_text]").val(),
			"prob_region": region,
			"prob_original_text_file" : formData
		};
		console.log(JSON.stringify(params));
		$.ajax({
			url: "{{ url_for('prob_add') }}",
			type: "POST",
			headers: {'Content-Type': 'application/json'},
			data: JSON.stringify(params),
			success: function(d){
        alert("생성완료")
				location.href="prob?lecture_no="+"{{ lecture_no }}"
			},
      error: function(error){
        alert("입력값을 확인해주세요")
      }
		});
	});
});
</script>
{% endblock %}

{% block content %}
<div class="contentDiv">
	<h1>과제 추가</h1>
	<div class="probAddFormDiv">
		<div class="probAddFormLeftDiv">
			<div class="inputFormDiv">
				<div class="inputFormDiv-1">
					<label for class="probAddFormLabel">주차</label>
					<select class="inputStyle01" name="prob_week">
						<option value="1주차">1주차</option>
					</select>
				</div>
				<div class="inputFormDiv-2">
					<label for class="probAddFormLabel">기한</label>
					<input type="datetime-local" class="inputStyle01" name="prob_timeEnd">
				</div>
			</div>
			<div class="inputFormDiv">
				<div class="inputFormDiv-1 w75">
					<label for class="probAddFormLabel">과제명</label>
					<input type="text" class="inputStyle01" name="prob_name">
				</div>
				<div class="inputFormDiv-2 w25">
					<label for class="probAddFormLabel">과제 종류</label>
					<select class="inputStyle01" name="prob_type">
						<option value="순차통역">순차통역</option>
						<option value="동시통역">동시통역</option>
						<option value="번역">번역</option>
					</select>
				</div>
			</div>
			<div class="inputFormDiv">
				<div class="inputFormDiv-1 w50">
					<label for class="probAddFormLabel">키워드</label>
					<textarea name="prob_keyword" class="inputStyle01" style="height:75px"></textarea>
				</div>
				<div class="inputFormDiv-2 w25">
					<label for class="probAddFormLabel">도착언어</label>
					<select class="inputStyle01" name="prob_translang_destination">
						<option value="ko">한국어</option>
					</select>
				</div>
				<div class="inputFormDiv-2 w25 mr1p">
					<label for class="probAddFormLabel">출발언어</label>
					<select class="inputStyle01" name="prob_translang_source">
						<option value="jp">일본어</option>
						<option value="en">영어</option>
						<option value="cn">중국어</option>
						<option value="fr">불어</option>
						<option value="ko">한국어</option>
					</select>
				</div>
			</div>
			<div class="inputFormDiv">
				<label for class="probAddFormLabel">과제 설명</label>
				<textarea class="inputStyle01" name="prob_exp"></textarea>
			</div>
			<div class="inputFormDiv">
				<div class="inputFormDiv-1 w25 mr1p" name="prob_replay2">
					<label for class="probAddFormLabel">다시 듣기 제한</label>
					<select class="inputStyle01" name="prob_replay">
						<option value="무제한">무제한</option>
					</select>
				</div>
				<div class="inputFormDiv-1 w25" name="prob_play_speed2">
					<label for class="probAddFormLabel">재생 속도</label>
					<input type="text" class="inputStyle01" name="prob_play_speed">
				</div>
			</div>
			<div class="inputFormDiv">
				<input type="checkbox" name="prob_open">
				<label for class="probAddFormLabel">자습용 과제</label>
			</div>
		</div>
		<div class="probAddFormRightDiv">
			<div class="probTextDiv">
				<label class="probTextLabel">원문</label>
				<input type="file" name="prob_original_text_file">
				<textarea name="prob_sound_text" class="inputStyle01" style="height:100px"></textarea>
			</div>
			<div class="probSoundUpload">
				<label for class="probSoundUploadLabel">음원 업로드</label>
				<input type="file" name="prob_sound_file">
				<input type="hidden" name="prob_sound_path">
			</div>
			<div class="inputFormDiv">
				<label for class="probAddFormLabel">드래그하여 구간을 설정하세요.</label><br>
				<label for class="probAddFormLabel waveSoundSize">원음 : ?분 ?초</label>
				<div id="waveform"></div>
				<div class="waveRegionDiv">
					<ul></ul>
				</div>
			</div>
		</div>
	</div>
	<div class="btnDiv btn-2">
		<span class="btn btn-cancel">뒤로가기</span>
		<span class="btn btn-submit">과제 생성</span>
	</div>
</div>
{% endblock %}
