{% extends 'layout_login.html' %}

{% block stylesheet %}
		<link href="{{ url_for('static', filename='css/videojs/video-js.min.css') }}" rel="stylesheet">
		<link href="{{ url_for('static', filename='css/videojs/videojs.wavesurfer.min.css') }}" rel="stylesheet">
		<link href="{{ url_for('static', filename='css/videojs/videojs.record.min.css') }}" rel="stylesheet">
{% endblock %}

{% block script %}
		<script type="text/javascript" src="{{ url_for('static', filename='js/videojs/video.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/videojs/adapter.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/videojs/recorder.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/videojs/wavesurfer.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/videojs/wavesurfer.microphone.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/videojs/videojs.wavesurfer.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/videojs/videojs.record.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/videojs/videojs.record.recorderjs.min.js') }}"></script>
<script type="text/javascript">
var probIndex;
var probFileList = []; // 문제파일
{% for i in wav_url_example %}
probFileList.push("{{ i.upload_url}}");
{% endfor %}
var submitFileList = []; // 녹음파일
{% for  i in wav_url %}
submitFileList.push("{{i.wav_url}}");
{% endfor %}
var probTextList = []; // 문제텍스트
{% if original_stt_result != None %}
{% for i in range(original_stt_result|length) %}
probTextList.push("{{original_stt_result[i].textFile}}"); 
//임시로 넣음
//probTextList.push("{{original_stt_result[i].timestamps}}")
//probTextList.push("{{original_stt_result[i].annotations}}")
{% endfor %}
{% endif %}
var submitTextList = []; //녹음텍스트
//submitTextList.push("애국가(愛國歌)는 ‘나라를 사랑하는 노래’라는 뜻이에요. 우리나라는 애국가에 특별한 이름을 붙이지 않고 국가(國歌)로 사용하고 있어요.\n오늘날 불리고 있는 애국가 노랫말은 우리나라가 외세의 침략으로 위기에 처해있던 시기(1907년 전후)에 나라 사랑하는 마음과 우리 민족의 자주의식을 북돋우기 위해 만들어진 것으로 보여져요.\n그 후 여러 선각자의 손을 거쳐 현재와 같은 내용을 담게 되었는데 이 노랫말에 붙여진 곡조는 스코틀랜드 민요 ‘올드 랭 사인 (Auld Lang Syne)’ 이었답니다. 당시 해외에서 활동 중이던 작곡가 안익태(安益泰) 선생은 애국가에 남의 나라 곡을 붙여 부르는 것을 안타깝게 여겨 1935년에 오늘날의 애국가를 작곡하였다고 해요.\n1948년 대한민국 정부가 수립된 이후 현재의 애국가가 정부의 공식행사에서 불려지고, 교과서에도 실리면서 전국적으로 불려지기 시작했답니다.\n한 세기 가까운 세월 동안 슬플 때나 기쁠 때나 우리 겨레와 운명을 같이 해 온 애국가를 부를 때마다 우리 모두 선조들의 나라 사랑 정신을 새롭게 되새겨보아요.");
{% if stt_result != None %}
{% for i in range(stt_result|length) %}
submitTextList.push("{{stt_result[i].textFile}}");
{% endfor %}
{% endif %}
var oriInputText = "{{ as_info['original_text'] }}";
var audioOptions = {
	controls: true,
	autoplay: false,
	fluid: false,
	bigPlayButton: false,
	plugins: {
		wavesurfer: {
			backend: 'MediaElement',
			displayMilliseconds: false,
			debug: true,
			waveColor: '#086280',
			progressColor: 'black',
			cursorColor: 'black',
			hideScrollbar: true
		}
	}
};

function loadData(index){
	index = parseInt(index);
	probIndex = index;
	examplePlayer.src({ src: probFileList[index], type: 'audio/wav'});
	submitPlayer.src({ src: submitFileList[index], type: 'audio/wav'});
	$(".exampleTextDiv div").empty().text(probTextList[index]);
	$(".assignmentTextDiv div").empty().text(submitTextList[index]);
}

function selectText(){
	var txt = "";
	if(document.getSelection){
		txt = document.getSelection().toString();
	}else if(document.selection){
		txt = document.selection.createRange().text;
	}
	return txt;
}

function createFeedback(txt){
	var ele = $("<li />");
	var rowDiv = $("<div />").addClass("feedbackContentRowDiv");
	var rowTitleDiv = $("<div />").addClass("feedbackContentRowTitleDiv").text(txt);
	var rowContentDiv = $("<div />").addClass("feedbackContentRowContentDiv");

	rowDiv.append(rowTitleDiv);
	rowDiv.append(rowContentDiv);
	ele.append(rowDiv);

	$(".feedbackContentDiv ul").append(ele);
}

var examplePlayer;
var submitPlayer;
$(document).ready(function(){
	// 플레이어 로딩
	examplePlayer = videojs("exampleAudioWaveSurfer", audioOptions, function(){ });
	submitPlayer = videojs("assignmentAudioWaveSurfer", audioOptions, function(){ });

	// 1번문제 로딩
	loadData(0);

	// 탭 클릭
	$(document).on("click", ".feedbackProbTab li", function(){
		loadData($(this).attr("idx"));
	});

	// 드래그
	$(document).on("mouseup", ".feedbackDiv .probTextDiv .probTextContentDiv .assignmentTextDiv div", function(){
		var txt = selectText();
		createFeedback(txt);
	});

	// 원음 버튼
	$(document).on("click", ".oriTextBtn", function(){
		$(".exampleTextDiv div").empty().text(oriInputText);
	});
	$(document).on("click", ".sttTextBtn", function(){
		$(".exampleTextDiv div").empty().text(probTextList[probIndex]);
	});
});
</script>
{% endblock %}

{% block content %}
			<div class="contentDiv feedbackDiv">
				<div class="feedbackTitleDiv">
					<h1>{{as_name}} - {{user_info['user_name']}}-{{as_info['as_type']}}</h1>
					<div class="btn-2">
						<button class="btn">동시재생</button>
						<button class="btn">저장</button>
					</div>
				</div>

				<ul class="feedbackProbTab">
					{% for i in wav_url_example %}
					<li idx="{{ loop.index - 1 }}">구간 {{ loop.index }}</li>
					{% endfor %}
				</ul>

				<div class="exampleAudioDiv">
					<audio id="exampleAudioWaveSurfer" class="video-js vjs-default-skin"></audio>
				</div>
				<div class="assignmentAudioDiv">
					<audio id="assignmentAudioWaveSurfer" class="video-js vjs-default-skin"></audio>
				</div>

				<div class="probTextDiv">
					<div class="probTextContentDiv">
						<div class="exampleTextDiv">
							<h2>원문
								<span class="btn btn-h2-small oriTextBtn">원문</span>
								<span class="btn btn-h2-small sttTextBtn">STT</span>
							</h2>
							{% autoescape false %}
							<div></div>
							{% autoescape %}
						</div>
						<div class="assignmentTextDiv">
							<h2>통역 전사문</h2>
							<div></div>
						</div>
						<div class="commentTextDiv">
							<h2>총평</h2>
							<div>입력하는곳 </div>
						</div>
					</div>
					<div class="feedbackContentDiv">
						<div class="feedbackContentTitleDiv">
							<h2>피드백</h2>
							<!--button class="btn">불러오기</button-->
						</div>
						<ul></ul>
					</div>
				</div>
			</div>
{% endblock %}
