{% extends 'layout_login.html' %}

{% block stylesheet %}
		<link href="{{ url_for('static', filename='css/videojs/video-js.min.css') }}" rel="stylesheet">
		<link href="{{ url_for('static', filename='css/videojs/videojs.wavesurfer.min.css') }}" rel="stylesheet">
		<link href="{{ url_for('static', filename='css/videojs/videojs.record.min.css') }}" rel="stylesheet">
{% endblock %}

{% block script %}
		<script type="text/javascript" src="{{ url_for('static', filename='js/videojs/video.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/videojs/adapter.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/videojs/recorder.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/videojs/wavesurfer.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/videojs/wavesurfer.microphone.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/videojs/videojs.wavesurfer.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/videojs/videojs.record.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/videojs/videojs.record.recorderjs.min.js') }}"></script>
<script type="text/javascript">
var probIndex;
var probFileList = []; // 문제파일
{% for i in wav_url_example %}
probFileList.push("{{ i.upload_url}}");
{% endfor %}
var submitFileList = []; // 녹음파일
{% for  i in wav_url %}
submitFileList.push("{{i.wav_url}}");
{% endfor %}
var probTextList = []; // 문제텍스트
{% if original_stt_result != None %}
{% for i in range(original_stt_result|length) %}
{% autoescape false %}
probTextList.push("{{original_stt_result[i].textFile}}"); 
{% endautoescape %}
//임시로 넣음
//probTextList.push("{{original_stt_result[i].timestamps}}")
//probTextList.push("{{original_stt_result[i].annotations}}")
{% endfor %}
{% endif %}
var submitTextList = []; //녹음텍스트
{% if stt_result != None %}
{% for i in range(stt_result|length) %}
submitTextList.push("{{stt_result[i].textFile}}");
{% endfor %}
{% endif %}
{% autoescape false %}
var oriInputText = "{{ as_info['original_text'] }}";
{% endautoescape %}
var audioOptions = {
	controls: true,
	autoplay: false,
	fluid: false,
	bigPlayButton: false,
	plugins: {
		wavesurfer: {
			backend: 'MediaElement',
			displayMilliseconds: false,
			debug: true,
			waveColor: '#086280',
			progressColor: 'black',
			cursorColor: 'black',
			hideScrollbar: true
		}
	}
};

function loadData(index){
	index = parseInt(index);
	probIndex = index;
	examplePlayer.src({ src: probFileList[index], type: 'audio/wav'});
	submitPlayer.src({ src: submitFileList[index], type: 'audio/wav'});
	$(".exampleTextDiv div").empty().text(probTextList[index]);
	$(".assignmentTextDiv div").empty().text(submitTextList[index]);
}

function selectText(){
	var txt = "";
	if(document.getSelection){
		txt = document.getSelection().toString();
	}else if(document.selection){
		txt = document.selection.createRange().text;
	}
	return txt;
}

function createFeedback(txt){
	var checkEle = $(".feedbackContentDiv ul .feedbackContentTxtDiv");
	for(var i=0; i<checkEle.length; i++){
		if($(checkEle[i]).text().trim() == txt.trim()){
			return false;
		}
	}

	var seq = new Date().getTime() + "" +new Date().getMilliseconds();
	var ele = $("<li />").attr({ "id": seq });
	var rowDiv = $("<div />").addClass("feedbackContentRowDiv");
	var rowTitleDiv = $("<div />").addClass("feedbackContentRowTitleDiv");
	var rowContentDiv = $("<div />").addClass("feedbackContentRowContentDiv");
	var rowContentTxtDiv = $("<div />").addClass("feedbackContentTxtDiv").text(txt);
	var rowContentTagDiv = $("<div />").addClass("feedbackContentTagDiv");
	var rowContentTagAdd = $("<span />").addClass("feedbackTagAdd").text("▼");
	var rowContentCmtDiv = $("<div />").addClass("feedbackContentCmtDiv");

	rowTitleDiv.append($("<span />").text("X"));

	rowContentTagDiv.append($("<ul />").addClass("feedbackTagView"));
	rowContentTagDiv.append(rowContentTagAdd);

	rowContentCmtDiv.append($("<textarea />"));

	rowContentDiv.append(rowContentTxtDiv);
	rowContentDiv.append(rowContentTagDiv);
	rowContentDiv.append(rowContentCmtDiv);

	rowDiv.append(rowTitleDiv);
	rowDiv.append(rowContentDiv);
	ele.append(rowDiv);

	$(".feedbackContentDiv>ul").append(ele);
}
{% autoescape false %}
{% if feedback_list !=None %}
	{% for i in feedback_list %}
		console.log("{{i}}");
	{% endfor %}
{% endif %}
{% endautoescape %}
function createFeedbackTagList(id){
	if($("#" + id + " .feedbackTagList").length == 0){
		var tagList = [];
		tagList.push("내용오역");
		tagList.push("불필요한 첨가");
		tagList.push("일관성 문제");
		tagList.push("표현 어색");
		tagList.push("칭찬");
		tagList.push("필러");
		tagList.push("백트래킹");
		tagList.push("지연");

		var ele = $("<ul />").addClass("feedbackTagList").hide();
		for(var i=0; i<tagList.length; i++){
			ele.append($("<li />").text(tagList[i]));
		}
		$(".feedbackContentTagDiv").append(ele);
	}
	$("#" + id + " .feedbackTagList").toggle();
}

function createFeedbackTag(id, tag){
	var checkEle = $("#" + id + " .feedbackTagView .feedbackTag");
	for(var i=0; i<checkEle.length; i++){
		if($(checkEle[i]).text().trim() == tag.trim()){
			$("#" + id + " .feedbackTagList").hide();
			return false;
		}
	}

	var ele = $("<li />");
	var tagSpan = $("<span />").addClass("feedbackTag").text(tag);
	var tagSpanDel = $("<span />").addClass("feedbackTagDel").text("X");

	ele.append(tagSpan);
	ele.append(tagSpanDel);

	$("#" + id + " .feedbackTagView").append(ele);
	$("#" + id + " .feedbackTagList").hide();
}

function deleteFeedbackTag(e){
	e.parent().remove();
}

function saveFeedback(){
	var feedbackList = [];
	var feedbackEleList = $(".feedbackContentDiv>ul>li");

	for(var i=0; i<feedbackEleList.length; i++){
		var ele = $(feedbackEleList[i]);
		var txt = ele.find(".feedbackContentTxtDiv").text();
		var tagList = [];
		var tagEleList = ele.find(".feedbackTagView .feedbackTag");
		for(var j=0; j<tagEleList.length; j++){
			tagList.push($(tagEleList[j]).text());
		}
		var cmt = ele.find(".feedbackContentCmtDiv textarea").val();

		feedbackList.push({
			"text": txt,
			"tagList": tagList,
			"comment": cmt
		});
	}
	pro_rev=$("#professor_review").val();
	var params = {
			"lecture_no":"{{lecture_no}}",
			"as_no":"{{as_no}}",
			"feedback":feedbackList,
			"professor_review":pro_rev
		};
	$.ajax({
			url: "/prob_feedback",
			type: "POST",
			headers: {'Content-Type': 'application/json'},
			data: JSON.stringify(params),
			success: function(d){
				location.href="/prob?lecture_no={{lecture_no}}"
			}
		});
}

var examplePlayer;
var submitPlayer;
$(document).ready(function(){
	// 플레이어 로딩
	examplePlayer = videojs("exampleAudioWaveSurfer", audioOptions, function(){ });
	submitPlayer = videojs("assignmentAudioWaveSurfer", audioOptions, function(){ });

	// 1번문제 로딩
	loadData(0);

	// 탭 클릭
	$(document).on("click", ".feedbackProbTab li", function(){
		loadData($(this).attr("idx"));
	});

	// 피드백 상자 생성
	$(document).on("mouseup", ".feedbackDiv .probTextDiv .probTextContentDiv .assignmentTextDiv div", function(){
		var txt = selectText();
		createFeedback(txt);
	});

	// 피드백 상자 삭제
	$(document).on("click", ".feedbackContentRowTitleDiv span", function(){
		$(this).parents("li").remove();
	});

	// 원음 버튼
	$(document).on("click", ".oriTextBtn", function(){
		$(".exampleTextDiv div").empty().text(oriInputText);
	});
	$(document).on("click", ".sttTextBtn", function(){
		$(".exampleTextDiv div").empty().text(probTextList[probIndex]);
	});

	// 피드백 태그 리스트 뷰
	$(document).on("click", ".feedbackTagAdd", function(){
		var id = $(this).parents("li").attr("id");
		createFeedbackTagList(id);
	});

	// 피드백 태그 추가
	$(document).on("click", ".feedbackTagList li", function(){
		var id = $(this).parents("li").attr("id");
		var tag = $(this).text();
		createFeedbackTag(id, tag);
	});

	// 피드백 태그 제거
	$(document).on("click", ".feedbackTagView li .feedbackTagDel", function(){
		deleteFeedbackTag($(this));
	});

	// 피드백 저장
	$(document).on("click", ".saveFeedback", function(){
		saveFeedback();
	});
});
</script>
{% endblock %}

{% block content %}
			<div class="contentDiv feedbackDiv">
				<div class="feedbackTitleDiv">
					<h1>{{as_name}} - {{user_info['user_name']}}-{{as_info['as_type']}}</h1>
					<div class="btn-2">
						{% if as_info['as_type']=='동시통역'%}
						<button class="btn">동시재생</button>
						{% endif %}
						<button class="btn saveFeedback">저장</button>
					</div>
				</div>

				<ul class="feedbackProbTab">
					{% for i in wav_url_example %}
					<li idx="{{ loop.index - 1 }}">구간 {{ loop.index }}</li>
					{% endfor %}
				</ul>

				<div class="exampleAudioDiv">
					<audio id="exampleAudioWaveSurfer" class="video-js vjs-default-skin"></audio>
				</div>
				<div class="assignmentAudioDiv">
					<audio id="assignmentAudioWaveSurfer" class="video-js vjs-default-skin"></audio>
				</div>

				<div class="probTextDiv">
					<div class="probTextContentDiv">
						<div class="exampleTextDiv">
							<h2>원문
								<span class="btn btn-h2-small oriTextBtn">원문</span>
								<span class="btn btn-h2-small sttTextBtn">STT</span>
							</h2>
							<div></div>
						</div>
						<div class="assignmentTextDiv">
							<h2>통역 전사문</h2>
							<div></div>
						</div>
						<div class="commentTextDiv">
							<h2>총평</h2>
							<div>
								입력하는곳
								<textarea id="professor_review" style="width: 698px; height: 294px;">{% if professor_review!=None %} {{professor_review}} {% endif %}</textarea>
							</div>
						</div>
					</div>
					<div class="feedbackContentDiv">
						<div class="feedbackContentTitleDiv">
							<h2>피드백</h2>
							<!--button class="btn">불러오기</button-->
						</div>
						<ul></ul>
					</div>
				</div>
			</div>
{% endblock %}
