{% extends 'layout_login.html' %}

{% block stylesheet %}
{% endblock %}

{% block script %}
<script type="text/javascript">
	//과제삭제
$(document).on("click",".probDelDiv", function(){
	var del_link = $(this).attr("link");
	$.ajax({
		url: del_link,
		type: "GET",
		success: function(d){
			location.href="/prob?lecture_no="+"{{lecture_no}}"
		}
	});
});
	</script>
{% endblock %}

{% block content %}
			<div class="contentDiv">
				<h1>과제 목록</h1>
				<ul class="weekProbWrapper">
					<li>
						<div class="weekProbDiv">
							<div class="weekProbTitleDiv">
								<h2>1주차 아래 화살표 클릭 하면 과제리스트 보임/더하기 누르면 과제추가</h2>
								<img src="{{ url_for('static', filename='images/bottom-arrow.png') }}" class="weekProbDetailViewBtn" alt="아래화살표">
								{% if user_perm == 0 or user_perm== 3 %}
								<img src="{{ url_for('static', filename='images/plus.png') }}" class="weekProbAddBtn" alt="+" link="{{ url_for('prob_add',lecture_no=lecture_no) }}">
								{% endif %}
							</div>
							{% for  i in prob_list %}
							<div class="weekProbDetailDiv">
								<ul>
									<li>
										<div class="weekProbDetailRowDiv">
											<span class="">{{i.as_name}}</span>
											{% if user_perm == 0 or user_perm== 3 %}
											<div class="probDelDiv" link="{{ url_for('prob_del',lecture_no=lecture_no,as_no=i.assignment_no) }}">
												<img src="{{ url_for('static', filename='images/minus.png') }}">
												<span>삭제버튼</span>
											</div>
											<div class="lectureInfoDiv" link="{{ url_for('prob_mod',lecture_no=lecture_no,as_no=i.assignment_no) }}">
												<img src="{{ url_for('static', filename='images/pen.png') }}">
												<span>수정</span>
											</div>
											{% endif %}
											<img src="{{ url_for('static', filename='images/minus.png') }}" class="weekProbDetailDelBtn" alt="-">
											<img src="{{ url_for('static', filename='images/pen.png') }}" class="weekProbDetailEditBtn" alt="펜" link="{{ url_for('prob_submit',as_no=i.assignment_no) }}">
										</div>
									</li>
								</ul>
							</div>
							{% endfor %}
							<div class="weekProbDetailDiv">
                                                                <ul>
                                                                        <li>
                                                                                <div class="weekProbDetailRowDiv">
                                                                                        <span class="">한→일 번역 과제(펜클릭시 피드백)</span>
                                                                                        <img src="{{ url_for('static', filename='images/minus.png') }}" class="weekProbDetailDelBtn" alt="-">
																						<img src="{{ url_for('static', filename='images/pen.png') }}" class="weekProbFeedbackBtn" alt="펜" link="{{ url_for('prob_feedback',lecture_no=lecture_no) }}">
                                                                                </div>
                                                                        </li>
                                                                </ul>
                                                        </div>
						</div>
					</li>
				</ul>
			</div>
{% endblock %}
